# Entorno Virtual
AURORA/
venv/
env/

# Seguridad
.env
*.pem
secrets.py

# Temporales de Python
__pycache__/
*.py[cod]
.pytest_cache/

# Datos pesados
*.csv
*.pkl
datasets/

# Sistema
.DS_Store
Thumbs.db
